body{
background: rgba(var(--b3f,250,250,250),1);
}

/**
para id #(nombre del id){
    atributos a cambiar: contenido;
}

para clase .(nombre de la clase){
    atributos a cambiar: contenido;
}
*/

.image-div {
    float: left;
    margin: 50px 10px 0px 20px;
}

.menu {
    float: left;
}

#imagen_instagram {
    width: 200px;
    margin: 10px 45px;
}

#imagen_celular {
    display: block;
}

.instagram-text-facebook {
    width: 300px;
    background-color: white;
    border: 10px black;
}

#sign {
    color: #999999;
    text-align: center;
    font-size: 17px;
    font-family: "apple-system",BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.facebook-button {
    background-color: #3897f0;
    display: flex;
    margin: 5px auto;
    width: 250px;
    border-radius: 0.4rem;
}

#login {
    color: white;
    margin: auto auto auto 10px;
    font-family: "apple-system",BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

#faceb {
    margin: 0px 0px 0px auto;
}

.o {
    display: flex;
    width: 300px;
    background-color: white;
    border: 10px black;
}

.sign-terms {
    display: flex;
    width: 300px;
    background-color: white;
    border: 10px black;
    
}

.SignUp {
    background-color: #3897f0;
    display: flex;
    margin: 10px auto;
    width: 250px;
    height: 35px; 
    border-radius: 0.4rem; 
}

.inputs {
    display: flex;
    width: 300px;
    background-color: white;
    border: 10px black;
    flex-direction: column;
}

.separator-or {
    margin: 10px auto;
    color: #999999;
    font-size: 1rem;
    position: relative;
}

.separator-or::before,
.separator-or::after {
    content: "";
    position: absolute;
    background-color: #999999;
    width: 100px;
    height: 1px;
    top: 50%;
    transform: translateY(-50%);
}

.separator-or::before {
    left: 35px;
}

.separator-or::after {
    right: 35px;
}

#input1,#input2,#input3,#input4 {
    margin: 5px 25px;
    border: 2px solid #eeeeee;
    padding: .5rem;
    background: #fafafa;
}

#Sign {
    color: white;
    margin: auto;
    font-family: "apple-system",BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.Terms-div {
    display: flex;
    width: 300px;
    background-color: white;
    border: 10px black;
    flex-direction: column;
}

#terms {
    margin: 10px 20px 10px 20px;
    text-align: center;
    color: gray;
}

.account-div {
    display: flex;
    width: 300px;
    background-color: white;
    border: 10px black;
    height: 80px;
    margin: 10px 0px;
}

.have-account {
margin: auto;
}

.get-the-app {
  width: 300px;
  text-align: center; 
  margin: 20px 0px 10px 0px; 
}

.get-the-app span{
    display: block;
    margin: 2rem 0 1rem 0;
    color: #262626;
}

.badges {
    width: 100%;
    display: flex;
    justify-content: center;
}

.badges img{
    max-width: 7rem;
    cursor: pointer;
}

.badges img:first-child{
    margin-right: 0.5rem;
}

footer{
    padding: 5rem 0;
}

footer .container{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.4rem;
    flex-wrap: wrap;
    margin-top: 0;
}

.footer-nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style:none;
}

.footer-nav ul li{
    margin-right: 1.5rem;
}

.footer-nav ul li a{
    color: #003569;
}
#copyright {
    color: #999999;
    padding: auto;
    font-size: 12px;
}

.down-part {
    position: absolute;
    bottom: 0px;
}

.top-part, .down-part {
    margin: auto;
}

#opt {
  text-decoration: none;
  font-size: 12px;
}